<div class="column-selector">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Columns</button>
    <div class="dropdown-menu">
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-product_id" id="product_id"
                checked>
            <label class="form-check-label" for="product_id">Product ID</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-type" id="type" checked>
            <label class="form-check-label" for="type">Type</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-thumbnail" id="thumbnail" checked>
            <label class="form-check-label" for="thumbnail">Thumbnail</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-name" id="name" checked>
            <label class="form-check-label" for="name">Name</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-sku" id="sku" checked>
            <label class="form-check-label" for="sku">SKU</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-regular_price" id="regular_price"
                checked>
            <label class="form-check-label" for="regular_price">Regular Price</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-sale_price" id="sale_price"
                checked>
            <label class="form-check-label" for="sale_price">Sale Price</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-stock_quantity" id="stock_quantity"
                checked>
            <label class="form-check-label" for="stock_quantity">Stock Quantity</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-stock_status" id="stock_status"
                checked>
            <label class="form-check-label" for="stock_status">Stock Status</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-short_description"
                id="short_description" checked>
            <label class="form-check-label" for="short_description">Short Description</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-description" id="description"
                checked>
            <label class="form-check-label" for="description">Description</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-weight" id="weight" checked>
            <label class="form-check-label" for="weight">Weight</label>
        </div>
        <!-- Additional columns -->
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-permalink" id="permalink" checked>
            <label class="form-check-label" for="permalink">Permalink</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-status" id="status" checked>
            <label class="form-check-label" for="status">Status</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-shipping_class" id="shipping_class"
                checked>
            <label class="form-check-label" for="shipping_class">Shipping Class</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-parent_id" id="parent_id" checked>
            <label class="form-check-label" for="parent_id">Parent ID</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-categories" id="categories"
                checked>
            <label class="form-check-label" for="categories">Categories</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-attributes" id="attributes"
                checked>
            <label class="form-check-label" for="attributes">Attributes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-default_attributes"
                id="default_attributes" checked>
            <label class="form-check-label" for="default_attributes">Default Attributes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input column-toggle" type="checkbox" value="col-variations" id="variations"
                checked>
            <label class="form-check-label" for="variations">Variations</label>
        </div>
        <button id="saveColumnPrefs" class="btn btn-success mt-2">Save Preferences</button>
    </div>
</div>