<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Metronic CSS and other dependencies here -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% load static %}
    {% load custom_filters %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{ product.name }}</title>
</head>

<body>
    {% include "global/navbar.html" %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                {% with images_list=product.images|split_string:',' %}
                <!-- Display the main product image first -->
                <img src="{{ images_list.0 }}" alt="{{ product.name }}" class="img-fluid mb-4">

                <!-- Loop through other images and display them below the main image -->
                {% for image in images_list %}
                {% if not forloop.first %}
                <img src="{{ image }}" alt="{{ product.name }}" class="img-fluid mb-2">
                {% endif %}
                {% endfor %}
                {% endwith %}
            </div>

            <div class="col-md-6">
                <h2>{{ product.name }}</h2>
                <p><strong>Type:</strong> {{ product.type }}</p>
                <p><strong>Status:</strong> {{ product.status }}</p>
                <p><strong>SKU:</strong> {{ product.sku }}</p>
                <p><strong>Regular Price:</strong> £{{ product.regular_price }}</p>
                <p><strong>Sale Price:</strong> £{{ product.sale_price }}</p>
                <p><strong>Stock:</strong> {{ product.stock_status }} ({{ product.stock_quantity }} items)</p>
                <p><strong>Weight:</strong> {{ product.weight }}</p>
                <p><strong>Shipping Class:</strong> {{ product.shipping_class }}</p>
                <p><strong>Categories:</strong> {{ product.categories|safe }}</p>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meta in metadata %}
                        <tr>
                            <td>{{ meta.key }}</td>
                            <td>{{ meta.value }}</td>
                            <td>{{ meta.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Visible</th>
                            <th>Variation</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attribute in attributes %}
                        <tr>
                            <td>{{ attribute.name }}</td>
                            <td>{{ attribute.position }}</td>
                            <td>{{ attribute.visible }}</td>
                            <td>{{ attribute.variation }}</td>
                            <td>
                                {% for option in attribute.options %}
                                {{ option }},
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>






                <!-- Add other product details as needed -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h4>Description:</h4>
                <p>{{ product.description|safe }}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h4>Short Description:</h4>
                <p>{{ product.short_description|safe }}</p>
            </div>
        </div>
    </div>

    <footer class="text-center py-4">
        <p>&copy; 2023 Your Store. All Rights Reserved.</p>
    </footer>

    <!-- Optional: Add some JS scripts or libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="{% static 'javascript.js' %}"></script>

</body>

</html>