body {
    background-color: #f2f3f8;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

table {
    background-color: #fff;
    border-radius: 8px;
    font-size: 15px;

}

thead th {
    background-color: #f0f3ff;
    border-top-width: 0;
    border-bottom: 2px solid #e1e5ec;
}

tbody td {
    border-top: 1px solid #e1e5ec;
}

.table tbody tr {
    height: 20px;  /* or any other height you prefer */
}

.table tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-group .btn {
    margin-right: 10px;
}


.wide-modal .modal-dialog {
    max-width: 90%;
    width: 90%;
}

.modal-content {
    white-space: pre-wrap;
}
